* {
  font-family: Noto Sans, sans-serif;
  font-size: 25px;
}

html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

header {
    padding: 50px 50px 0 50px;
    margin: 0;
}

main {
    padding: 0 50px 50px 50px;
    margin: 0;
    flex: 1 0 auto;
}

h1 {
  font-family: sans-serif;
  font-size: 58px;
  color: black;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 40px;
  color: darkblue;
}

img {
  width: 960px;
  height: auto;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: tomato;
}

nav a.active {
  color: tomato;
}

footer {
  background-color: black;
  margin: 0;
  padding: 30px;
  text-align: center;
  flex-shrink: 0;
}

footer a {
  color: white;
}

.first-col {
  text-align: left;
}

@media (max-width: 800px) {
  nav ul {
    justify-content: space-between;
    gap: 0;
  }

  img {
    width: 500px;
  }
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
    }

  a {
    font-size: 29px;
  }

  img {
    width: 100%;
  }

  table, th, td {
    font-size: 23px;
  }

}

@media(max-width: 400px){
  table, th, td {
    font-size: 21px;
  }
}

#checkout-panel {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    min-height: 80px;
    display: none;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.98);
    border-top: 2px solid tomato;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 50px; 
}

#checkout-panel p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

#checkout-link {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    transition: background 0.3s ease;
}

#checkout-link.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}